import { BrowserRouter as Router, Routes, Route } from 'react-router-dom';
import Login from './Login'; 
import ConfigurarPerfil from './Dashboard/ConfigurarPerfil';
import DashboardHome from './Dashboard/Home';

function App() {
  return (
    <Router>
      <Routes>
        <Route path="/" element={<Login />} />
        <Route path="/configurar-perfil" element={<ConfigurarPerfil />} />
        <Route path="/dashboard" element={<DashboardHome />} />
      </Routes>
    </Router>
  );
}

export default App;